:root {
  --popofcolor: deeppink;
  --maincolor: #272142;
  --stdcolor: black;
  --tertiarycolor: white;
  --heading-font-family: "Playfair Display", sans-serif;
  --secondary-font-family: "Poppins", sans-serif;
  --altbackgroungcolor: #f9f7fe;
}

body {
  font-family: var(--secondary-font-family);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  color: var(--stdcolor);
  font-weight: bold;
}

nav {
  padding: 1rem 0;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  list-style: none;
  margin-left: 1rem;
  line-height: 42px;
}

nav a {
  text-decoration: none;
  color: var(--maincolor);
}

nav a:hover, nav li.active a {
  color: var(--popofcolor);
  transition: color 100ms ease-in-out;
}

.logo {
  color: var(--popofcolor);
  padding: 0.5rem 0;
}

.hero {
  background: var(--altbackgroungcolor);
  text-align: center;
  padding: 5rem 2rem;
}

.hero h1 {
  color: var(--popofcolor);
  font-weight: bold;
  font-size: 6vw;
}

.content-container {
  padding: 4rem 2rem;
}

.content-container h1 {
  font-size: 4vw;
  color: var(--maincolor);
}

.hero h2 {
  font-weight: normal;
  font-size: 2vw;
}

.content-container h2 {
  font-size: 1.5vw;
  color: var(--popofcolor);
}

.content {
  margin: 1rem;
}

h2 {
  font-size: 3.5vw;
}

h3 {
  font-size: 2.5vw;
}

.content h3 {
  font-size: 1.5vw;
  color: var(--popofcolor);
}

.hero p {
  font-weight: bold;
  font-size: 2vw;
  color: var(--maincolor);
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.content p {
  font-size: 1.25rem;
}

#resume {
  color: var(--popofcolor);
}

.skills, .qualifications {
  text-align: center;
}

.skills-container img, .qualifications img {
  height: 220px;
  width: auto;
  margin: 1rem;
  border-radius: 14px;
  cursor: pointer;
}

.skills-container img:hover, .qualifications img:hover {
  border: 6px solid var(--popofcolor);
}

.btn-branding {
  border-radius: 4px;
  color: var(--tertiarycolor);
  background: var(--popofcolor);
  line-height: 1.5;
  font-size: 1rem;
  padding: 1rem 2rem;
}

.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  padding: 0 1rem;
  border: 6px solid transparent;
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 6px solid var(--popofcolor);
}

a {
  text-decoration: none;
  color: var(--maincolor);
}

footer {
  margin: 4rem 0;
}

footer .contact-box {
  background: var(--altbackgroungcolor);
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  color: var(--maincolor);
  font-size: 1.5rem;
}

footer .email-link:hover {
  color: var(--popofcolor);
  transition: color 100ms ease-in-out;
}

footer .social-links a {
  font-size: 2rem;
  color: var(--maincolor);
  margin: 0 1rem;
  background: var(--altbackgroungcolor);
  padding: 0.5rem;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: var(--popofcolor);
  transition: color 100ms ease-in-out;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  .hero h1 {
    font-size: 6vw;
  }
  
  .hero h2 {
    font-size: 2vw;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .content h1 {
    font-size: 5vw;
  }
}

@media (max-width: 375px) {
  .logo {
    display: none;
  }
  
  .hero {
    padding: 3rem 2rem;
  }
  
  .hero h1 {
    font-size: 4vw;
  }
  
  .hero h2 {
    font-size: 1.5vw;
  }
  
  .content {
    text-align: center;
    padding: 0;
  }
  
  .content h1 {
    font-size: 3vw;
  }
}
